@import './sidebar.css';
@import './home.css';
@import './topbar.css';
@import './dashboard.css';
@import './login.css';

:root {
    /*weird colors (mostly for home)*/
    --color-bg1: rgb(95, 119, 99);
    --color-bg2: rgb(0, 0, 0);
    --color1: 0, 32, 32;     /* darkest teal (near hsl(180, 50%, 10%) ) */
    --color2: 0, 48, 48;     /* slightly lighter teal */
    --color3: 0, 64, 64;     /* mid-dark teal */
    --color4: 0, 80, 80;     /* softer dark teal */
    --color5: 0, 96, 96;     /* least dark teal (still deep but closer to readable) */
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;

    /*da colors*/
    --color-primary: hsl(180, 50%, 10%);
    --color-primary-light: hsl(180, 50%, 15%);
    --color-secondary: hsl(180, 50%, 90%);
    --color-tertiary: hsl(240, 80%, 80%);
    --color-accent: hsl(120, 80%, 80%);
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--color-primary);
    font-family: 'Space Grotesk', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 0.7fr 6fr;
    grid-template-rows: 0.5fr 0.2fr repeat(5, 1fr);
    
    font-weight: bold;
    min-height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
    background: var(--color-primary);
}

.spinner {
    border: 2px solid #f3f3f3; 
    border-top: 2px solid #555; 
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-right: 8px; 
    vertical-align: middle;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .fail-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
  }
  
  .fail-message-box {
    text-align: center;
    background-color: var(--color-primary-light);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .fail-message {
    font-size: 24px;
    color: var(--color-secondary);
    filter: brightness(1.2);
    margin-bottom: 20px;
  }
  
  .fail-button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: var(--color-tertiary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .fail-button:hover {
    filter: brightness(1.1);
  }
  