@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import './index.css';


a{
    text-decoration: none;
    color: inherit;
}


.sidebar{
    color: var(--color-secondary);
    background-color: var(--color-primary);
    grid-row: 1 / 8;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 2fr;
    font-size: 1.1rem;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    padding-right: 4.5%;
    filter: brightness(1.2);

    overflow-y: auto;
}

#myhub{

    font-size: 2rem;
    margin: 0;
}

.logo h2{
    margin-top: 0;
    
}

.sidebar .logo{
    place-self: center;
    font-size: 1.1rem;

}

.sidebar ul{
    list-style: none;
    gap: 20px;
    display: grid;
    grid-template-rows: repeat(4, 2fr);
    padding-inline-start: 10px;
}

.menu a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu2 a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    width: 20px; 
    height: 20px;
    fill: white; 
    transition: fill 0.3s ease;
}

.menu a:hover .icon {
    fill: lightgray; 
}