@import './index.css';

.topbar{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.topbar button{
    background: var(--color-tertiary);
    width: max-content ;
    height: min-content;
    padding: 7px;
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    display: flex;
    
    border: none;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all 1s ease-out;
}

.topbar svg{
    fill: var(--color-primary);
}

.topbar span{
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    opacity: 0;
    transition: all 1s ease-out;
}

.topbar button:hover span{
    width: auto;
    margin-left: 8px;
    opacity: 1;
}