@import './index.css';

.topbar {
  grid-template-columns: 19fr .5fr;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: end;
  align-items: center;
  margin-left: 4rem;
  margin-top: 2rem;
  z-index: 100;
 
}

.user-topbar p {
  margin: 0;
  font-weight: 500;
  color: var(--color-primary);
}


  
  .username {
    margin: 0;
    font-weight: 500;
    color: var(--color-primary);
}




@media (max-width: 600px) {
  .topbar {
    justify-content: space-between;
    padding: 10px;
  }

  .topbar span {
    display: none;
  }
}
