@import './index.css';

.subheader{
    grid-column: 2;
    grid-row: 2;
    align-content: end;
    padding: 10px;
}

.subheader p{
    color: var(--color-secondary);
    margin: 0;
    
}

.dashboard-container{
    grid-column: 2;
    grid-row: 3 / 8;
    display: grid;
    grid-template-rows: 0.5fr 7fr;
}

.dashtab-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;


    align-items: center;
}

.dashtab{
    width: 8%;
    height: 80%;

    background: var(--color-primary);
    border: var(--color-accent) 2px solid;
    color: var(--color-accent);

    display: flex;
    justify-content: center;
    align-items: center;

}

.dashtab.active{
    background: var(--color-accent);
    color: var(--color-primary);
}

.dashtab p{
    font-size: 1rem;
    margin: 0;

}

#projectTab , #todoTab {


    border-radius: 6px;
    cursor: pointer;
}

.dashtab:hover{
    filter: brightness(1.5);
}

.dashboard-container .content{
    background-color: var(--color-primary);
    filter: brightness(0.9);
}

/* CONTENT */
/* PROJECT */
.content{
    color: var(--color-secondary);
    padding: 10px;
}

.card-container{
    display: flex;
}

.add-card{
    background-color: var(--color-primary);
    filter: contrast(0.8);
    height: 25%;
    width: 8%;
    padding: 40px 25px;
    border-radius: 50%;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}